@charset "utf-8";

.header_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 7.386%;
    padding-left: 2.512%;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.header_nav ul{
    display: flex;
    gap: 77px;
}

.header_nav ul li{
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
      "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
      font-weight: bold;
}

.logo{
    width: 227px;
}

body{
    background-color: #e8d9bf;
}

.header_nav-sp{
  display: none;
}

.hamburger{
  display: none;
}

@media screen and (max-width:1000px){
  .header_nav{
    display: none;
  }
  .hamburger{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 9999;
  }
  .hamburger span{
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 15px;
    transition: .3s;
  }

  .hamburger span::before{
width: 30px;
height: 2px;
background-color: #fff;
position: absolute;
content: "";
top: -12px;
transition: .3s;

  }
  .hamburger span::after{
    width: 30px;
    height: 2px;
    background-color: #fff;
position: absolute;
content: "";
bottom: -12px;
transition: .3s;

  }
.open span{
  background-color: transparent;
}
  .open span::before{
transform: rotate(45deg);
top: 0;
  }

  .open span::after{
    transform: rotate(-45deg);
    bottom: 0;
  }

  .header_nav-sp{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000000b3;
  }
  .header_nav-sp ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .header_nav-sp li{
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  }
}




.greeting{
    margin: 100px auto;
    text-align: center;
}

.greeting .happy{
    margin-top: 98px;
  margin-bottom: 51px;
    font-size: 30px;
}

.greeting .happy2{
    font-size: 82px;
    line-height: 1.2em;
    font-weight: lighter;
    margin-bottom: 53px;
}

.greeting .happy3{
    font-size: 23px;
    line-height: 1.65em;
    margin-bottom: 105px;
}


.wrapper{
  max-width: 1000px;
  margin: 0 auto;
}


.aboutus {
    display: flex; 
    align-items: center;
  }

  .maintitle{
    width: 264px;
}


  .aboutus>figure {
    border-radius: 0 0 100px 0;
    width: 50%;
    overflow: hidden;
    position: relative;
  }

  .aboutus .right {
    padding-left: 79px;
    width: 50%;
  }
  
 .aboutus .subtitle{
margin: 57px 0 35px;
font-size: 44px;
line-height: 1.3em;
  }

  .aboutus .text {
    padding: 0;
    font-size: 16px;
    line-height: 1.6em;
  }

#menu>ul{
    display: flex;
   justify-content: space-between;
}



#menu>ul>li{
    width: 30%;
}

#menu>ul>li>img{
    border-radius: 0 40px 0 0;
  }

  #menu>h2{
    width: 145px;
    margin: auto;
margin-top: 110px;
margin-bottom: 48px;
  }

  #menu>ul>li>h3{
    color: #c6171e;
    font-size: 38px;
    margin-top: -12px;
  }

  #menu>ul>li>p{
    font-size: 17px;
    line-height: 1.47em;
    font-weight: lighter;
    margin-top: 26.7px;
  }

  #gallery>h2{
    width: 238px;
    margin: auto;
margin-top: 98px;
margin-bottom: 25px;
  }

#gallery>ul{
    display: flex;
}

#event>h2{
    width: 165px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 39.5px;
}

.box{
    background-color: #fff; 
    border: solid 3.6px #4f260b;
    margin: 0 auto;
}

#event>.box>dl{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 680px;
    margin: 30px auto 40px;
  }

  #event dt {
    font-size: 23px;
    width: 20%;
    padding: 15px;
  }

  #event dd {
    font-size: 23px;
    text-decoration: underline;
    width: 80%;
    padding: 15px;
  }

  #access>h2{
    width: 206px;
    margin: auto;
    margin-top: 79px;
    margin-bottom: 46px;
  }

  .map{
    box-sizing: border-box;
    max-width: 100%;
    height: 471px;
    width: 100%;
    filter: grayscale(100%) invert(92%) contrast(83%);
  }



.contact{
    background-color: white;
    display: flex;
margin: auto;
}

.contact>h4>img{
    margin-top: 50px;
}

.contact>ul{
    margin-top: 85px;
    margin-left: 68px;
}

.contact>ul>li{
    margin-bottom: 24.5px;
}

#footer{
    background-color: white;
    padding-bottom: 79px;
}

.footer_inner>p{
    font-size: 16px;
    text-align: center;
    margin-top: 77px;
}

.to-pagetop{
   position: fixed;
   bottom: 20px;
   right: 20px;
   width: 125px;
}

@media screen and (max-width:1100px){
  .greeting>h1{font-size: 70px;}
  .aboutus .subtitle{font-size: 36px;}
}

@media screen and (max-width:767px){
  .greeting .happy{
    font-size: 17px;
  }
  .greeting .happy2{
    font-size: 38px;
  }
  .greeting .happy3{
  
    font-size: 16px;
    margin: 0 20px 66px;
  }
  .aboutus{display: block;}
  .aboutus>figure{
    border-radius: 0 0 0 0;
    width: 40%;
  margin: auto;}
  .maintitle{
    width: 100%;
    margin-top: 15px;
}
  .aboutus .right {
    padding-left: 0px;
    width: 100%;
  }
  .aboutus .subtitle{
margin-left: 20px;
margin-right: 73px;
  }
  .aboutus .text{
    margin: 0 20px 56px;
  }
  #menu>h2{
    width: 22%;
    margin: auto;
margin-top: 55px;
margin-bottom: 23px;
  }
  #menu>ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #menu>ul>li{
    width: 80%;
}
#menu>ul>li>h3{
  color: #c6171e;
  font-size: 40px;
  margin-top: -18px;
}
#menu>ul>li>p{
  font-size: 17px;
  line-height: 1.47em;
  font-weight: lighter;
  margin-top: 30px;
  margin-bottom: 50px;
}
#gallery>h2{
  width: 36%;
  margin: auto;
margin-top: 48px;
margin-bottom: 20px;
}
.box{
  width: 93%;
}
#event>.box>dl{
display: flex;
flex-direction: column;
align-items: baseline;
margin: 20px 27px 19px;
}
#event dt {
  font-size: 16px;
  width: 20%;
  padding: 0px;
  margin-bottom: 6px;
}
#event dd {
  font-size: 16px;
  text-decoration: underline;
 padding: 0px;
  margin-bottom: 20px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#access>h2{
  width: 31%;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 10px;
}
.map{
  height: 190px;
}
.contact{
  display: block;
  width: 100%;
}
.contact>h4>img{
  margin-top: 45px;
  margin-left: 20px;
  width: 100%;
}
.contact>ul{
  margin-top: 35px;
  margin-left: 20px;
}
.contact>ul>li{
  margin-bottom: 18px;
  font-size: 18px;
}
.footer_inner>p{
  font-size: 16px;
  text-align: center;
  margin-top: 43px;
  margin-bottom: 30px;
}
#footer{
  padding: 0 0 30px;
}
.to-pagetop{
  position: fixed;
  bottom: 230px;
  right: 10px;
  width: 100px;
}

}

.slick-dots {
  bottom: 0;
}

.slick-dots li.slick-active button:before{
  color: #fff;
}

.slick-dots li button:before{
  color: #fff;
}


/*lightbox追記修正*/
.lightboxOverlay{/*拡大時のモーダル*/
  width:100% !important;
}
.lb-outerContainer,.lb-dataContainer{
  width:calc(100% - 20px) !important;
  max-width:600px;/*拡大時の最大幅*/
}
.lb-outerContainer{
  height:auto !important;
  margin-left:auto;
  margin-right:auto;
}
.lb-image{
  width:100% !important;
  height:auto !important;
}



